.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 95vh;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../../assets/img/heroBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Amiga Forever', sans-serif;
    color: aliceblue;
  }
  
.loglabel {
  margin-top: -7px;
}

  form {
    margin-top: 40px;
  }
  
  .loginputBox {
    position: relative;
    margin-bottom: 1.875rem;
  }
  
  .loginputBox input {
    width: 100%;
    padding: 0.625rem;
    margin-top: 5px;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.062rem;
    border: none;
    border-bottom: 5px solid #fff;
    outline: none;
    background: transparent;
    font-family: 'Amiga Forever', sans-serif;
    font-size: 0.70rem;
  }

  input {
    font-size: 0.70rem;
  }
 
  .loginputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.625rem 0;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
    font-size: 0.60rem;
  }
  
  .loginputBox input:focus ~ label,
  .loginputBox input:valid ~ label,
  .loginputBox input:not([value=""]) ~ label {
    top: -1.125rem;
    left: 0;
    color: white;
    font-size: 1rem;
  }
  
  input[type="submit"] {
    border: none;
    outline: none;
    color: darkgreen;
    background-color: white;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 0.75rem;
    font-family: 'Amiga Forever', sans-serif;
  }
  
  input[type="submit"]:hover {
    background-color: darkgreen;
    color: white;
  }
  .registerp {
    font-size: 75%;
    margin-top: 20px;
  }
  .registera {
    color: aquamarine;
  }