@import url('https://fonts.cdnfonts.com/css/hiskyflipper');
@import url('https://fonts.cdnfonts.com/css/fonseca-rounded');

.profiledata {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-top: 50px;
}
.profilebutton {
    text-align: center;
    margin-bottom: 20px;
}

.botonperfil {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'HISKYFLIPPERHI', sans-serif;
    font-weight: bold;
    width: 15%;
}

.profileprincipalh1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'HISKYFLIPPERHI', sans-serif;
}

.userdata {
    font-family: 'HISKYFLIPPERHI', sans-serif;
}

.dataname {
    font-family: 'HISKYFLIPPERHI', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}