.principalterm {
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  flex-direction: column;
  font-family: 'Amiga Forever', sans-serif;
  color: black;
  margin-bottom: 34px;
}

  .texto {
    margin-top: 20px;
    font-size: 1rem;
  }

  .textop {
    font-size: 0.80rem;
  }

  .textof {
    margin-top: 10px;
  }

  .h1titulo {
    margin-top: 5px;
    justify-content: center;
    display: flex;
}